@model StokTakip.Entities.Model.Kategori
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center;color:white; margin:15px;background-color:#4B5860">
    <h2><b>Kategori Ekle</b></h2>
</div>

<div style="margin:15px" class="form-group">
    @using (Html.BeginForm("Ekle", "Kategori", FormMethod.Post))
    {
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori Açıklama")
        @Html.TextBoxFor(x => x.KategoriAciklama, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Kategori Ekle</button>
    }
</div>